<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>599782590095-77psuq44qcq287unca05im6l2n29ca7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599782590095-77psuq44qcq287unca05im6l2n29ca7a</string>
	<key>API_KEY</key>
	<string>AIzaSyCYq6a8jyE0W56pW2uGI1HrO0m2aB_iFUA</string>
	<key>GCM_SENDER_ID</key>
	<string>599782590095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snag.snag</string>
	<key>PROJECT_ID</key>
	<string>snag-b2b2d</string>
	<key>STORAGE_BUCKET</key>
	<string>snag-b2b2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599782590095:ios:20c017f2c2d432a5</string>
	<key>DATABASE_URL</key>
	<string>https://snag-b2b2d.firebaseio.com</string>
</dict>
</plist>